<div class="container">
  <div class="row mt-3">
    <h2>Create new cocktail</h2>
  </div>
  <div class=" row mt-3">
    <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name of cocktail: </label>
        <input type="text"
               name="name"
               id="name"
               class="form-control"
               formControlName="name"/>
        <small *ngIf="fieldHasError('name', 'required')">
          Enter your name!
        </small>
        <small *ngIf="fieldHasError('name', 'name')">
          Enter your correct name!
        </small>
      </div>

      <div class="form-group">
        <label for="image">Image of cocktail: </label>
        <input type="text"
               name="image"
               id="image"
               class="form-control"
               formControlName="image"/>
        <small *ngIf="fieldHasError('image', 'required')">
          Enter image url of cocktail!
        </small>
        <small *ngIf="fieldHasError('image', 'image')">
          Enter correct image url!
        </small>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="alcohol"
            value="Alcohol cocktail"
            name="nameOfCocktail"
            formControlName="nameOfCocktail"
          />
          <label for="alcohol" class="form-check-label">Alcohol cocktail</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="mocktail"
            value="Mocktail"
            name="nameOfCocktail"

          />
          <label for="mocktail" class="form-check-label">Mocktail</label>
        </div>
        <small *ngIf="fieldHasError('nameOfCocktail', 'required')">
          Check your quantity!
        </small>
      </div>

      <div class="form-group">
        <label for="description">Description of cocktail: </label>
        <textarea name="description"
                  id="description"
                  cols="30" rows="10"
                  class="form-control"
                  formControlName="description"
        ></textarea>
        <small *ngIf="fieldHasError('description','required')">
          Enter your description of cocktail!
        </small>
        <small *ngIf="fieldHasError('description', 'description')">
          Enter correct description!
        </small>
      </div>

      <div class="form-group " formArrayName="ingredients">
        <label for="ingredient">Ingredients: </label>

        <button type="button" class="btn btn-secondary" (click)="addIngredients()">Add ingredients</button>

        <div class="col d-inline-block" *ngFor="let _ of getIngredientsControls(); let i = index">
          <div class="form-group" [formGroupName]="i">
            <p>Ingredient: {{ i + 1 }}</p>
            <label for="ingName">Ingredients name: </label>
            <input type="text" formControlName="ingName" class="form-control" name="ingName" id="ingName"/>&nbsp;
            <label for="amount">Amount: </label>
            <input type="text" formControlName="amount" class="form-control" name="amount" id="amount"/>&nbsp;
              <select name="size" id="size" class="form-control" formControlName="size">
                <option value="" selected>select</option>
                <option value="ml">ml</option>
                <option value="lit">lit</option>
                <option value="gr">gr</option>
                <option value="mlgr">mlgr</option></select>
          </div>
          <button type="button" class="btn btn-danger" (click)="OnDelete(i)">delete</button>
        </div>
        <small *ngIf="fieldHasError('ingredients','required')">
          Select your ingredients of cocktail!
        </small>
        <small *ngIf="fieldHasError('size','required')">
          Select your quantity of cocktail!
        </small>
      </div>

      <div class="form-group">
        <label for="instruction">Instruction of cocktail</label>
        <textarea name="instruction"
                  id="instruction"
                  cols="30" rows="10"
                  class="form-control"
                  formControlName="instruction"
        ></textarea>
        <small *ngIf="fieldHasError('instruction','required')">
          Enter your instruction of cocktail!
        </small>
        <small *ngIf="fieldHasError('instruction', 'instruction')">
          Enter correct instruction!
        </small>
      </div>
      <button class="btn btn-danger" [disabled]="cocktailForm.invalid || isClick">
        <span *ngIf="!isUpLoading">
          Save
        </span>
        <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>
