<div class="d-inline-block mt-3 ml-3" *ngFor="let cocktail of cocktails">
  <div class="card" style="width: 18rem;" (click)="openCheckoutModal(cocktail.id)">
    <img [src]="cocktail.image" class="card-img-top" alt="{{ cocktail.name }}">
    <div class="card-body">
      <h5 class="card-title"><strong>Name of cocktail: </strong>{{ cocktail.name }}</h5>
      <p class="card-text"><strong>Type of cocktail: </strong>{{ cocktail.nameOfCocktail }}</p>
    </div>
  </div>
</div>

<app-modal title="All info about Cocktail" [isOpen]="modalOpen" (close)="closeCheckoutModal(cocktail.id)">
  <div class="modal-body d-inline-block" *ngIf="cocktail">
    <p>Name of cocktail:<strong>{{ cocktail.name }}</strong></p>
    <img [src]="cocktail.image" class="card-img" alt="{{ cocktail.name }}">
    <p>Type of cocktail:<strong>{{ cocktail.nameOfCocktail }}</strong></p>
    <p>Description of cocktail:<strong>{{ cocktail.description }}</strong></p>
    <div class="card-body" *ngFor="let ingredient of cocktail.ingredients; let i = index">
      <h6 class="card-title"><strong>Ingredients: {{ i + 1 }}</strong></h6>
      <p class="card-text"><strong>Name:</strong>{{ ingredient.ingName }}</p>
      <p class="card-text"><strong>Amount:</strong>{{ ingredient.amount }}</p>
      <p class="card-text"><strong>Quantity:</strong>{{ ingredient.size }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckoutModal(cocktail.id)">Cancel</button>
  </div>
</app-modal>




