.card-img{
  width: 40%;
}

.card-img-top{
  width: 100%;
  height: 250px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  width: 40%;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}


