
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/">Cocktail party</a>
  <a class="navbar-brand ml-auto" routerLink="/new-coctail">Create new cocktail</a>
</nav>

<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
